 
<div class="x_content">
    @if (ViewBag.HasPermission.ToAction("Create"))
    {
        <a href="@Url.Action("Create")" style="float:right" id="Create_New_Entity" class="btn btn-app">
            <i class="fa fa-plus"></i>  @msg_app.Create_New
        </a>
    }
    @if (ViewBag.HasPermission.ToAction("Create_Group_Absences"))
    {
        <a href="@Url.Action("Create_Group_Absences")/?AbsenceDate=@DateTime.Now" id="Create_Group_Absences" class="btn btn-app">
            <i class="fa fa-plus"></i>  Saisie d'absences
        </a>
    }
    @if (ViewBag.HasPermission.ToAction("Export"))
    {
        <a href="@Url.Action("Export")" id="Export_All_Entities" class="btn btn-app">
            <i class="fa fa-file-excel-o"></i>  Export
        </a>
    }
    @if (ViewBag.HasPermission.ToAction("Import"))
    {
        <a href="#" class="btn btn-app" id="Import_Entities">
            <i class="fa fa-file-excel-o"></i>  Import
        </a>
        using (Html.BeginForm("Import", "Absences", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="import_form" class="container" style="display : none">
                <hr />
                <div class="row">

                    <div class="col-md-3">
                        <input required class="btn btn-app" type="file" name="import_objects" value="choose file" />
                    </div>

                    <div class="col-md-2">
                        <input class="btn btn-app " type="submit" value="Importer" />
                    </div>


                </div>
            </div>
        }
    }
    @if (ViewBag.HasPermission.ToAction("Correct_Absence_State"))
    {
            <a data-toggle="tooltip" href="@Url.Action("Correct_Absence_State")" id="Correct_Absence_State" title="for version 0.0.6" class="btn btn-app">
                <i class="fa fa-file-excel-o"></i>  Correct_Absence_State
            </a>
    }
</div>