@model IEnumerable<TrainingIS.Models.Trainees.Index_Trainee_Model>
@using GApp.Models.Pages
@{
    Layout = null;
    Index_GAppPage IndexPage = ViewBag.index_page as Index_GAppPage;
}
<table id="Trainees_Entities" class="table table-striped table-bordered GAppDataTable_Component">
    @Html.Raw(@IndexPage.DataTable.TableHeaderBlock)
    <tbody>

        @foreach (var item in Model)
        {

            string image_path = @Url.Content("~/") + "Content/GApp.WebApp/images/user.png";
            string image_Small = image_path;
            string image_Medium = image_path;

            if (item.Photo != null)
                image_Small = @Url.Content("~/") + item.Photo.Small_Thumbnail;

            if (item.Photo != null)
                image_Medium = @Url.Content("~/") + item.Photo.Medium_Thumbnail;


            // Calculate Attendance State
            //string attendance_State_html = "";

            //if (Model.Last_Valid_Attendance_Sanction != null)
            //    attendance_State_html += string.Format("<p>Sanction d'assiduité {0}</p>", Model.Last_Valid_Attendance_Sanction.ToString());
            //if (Model.Last_Valid_Assiduite_Sanction != null)
            //    attendance_State_html += string.Format("<p>Sanction de comportement : {0}</p>", Model.Last_Valid_Assiduite_Sanction.ToString());
            //if (Model.AttendanceState != null)
            //    attendance_State_html += string.Format("<p>Note d'assiduité / 20 : {0}</p>", Model.Invalid_Note.ToString());



        <tr id="@string.Format("{0}_{1}",item.GetType().Name,item.Id)" >
            <td class="GPicture"><img data-toggle="popover" src='@image_Small' style='width: 100px;'  data-content="<img src='@image_Medium'  style='width: 250px;'  />" title="@item.FirstName @item.LastName" /></td>
            <td>@Html.GAppDisplayFor(modelItem => item.CNE)</td>
            <td>@(item?.Group?.ToString())</td>
            <td>@Html.GAppDisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.GAppDisplayFor(modelItem => item.LastName)</td>

            <td>
                @if (ViewBag.HasPermission.ToAction("Details"))
                {
                    <a href="@Url.Action("Details")/@item.Id" class="link_action details " title="@msg_app.Details" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-info fa-2x"></i>
                    </a>
                }
                @if (ViewBag.HasPermission.ToAction("Edit"))
                {
                    <a href="@Url.Action("Edit")/@item.Id" class="link_action edit" title="@msg_app.Edit" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                }
                @if (ViewBag.HasPermission.ToAction("Delete"))
                {
                    <a href="@Url.Action("Delete")/@item.Id" class="link_action delete" title="@msg_app.Delete" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
@Html.Raw(@IndexPage.DataTable.PagerLinksBlock)


