@section Style{
    @Styles.Render("~/Content/Manager/Index")

    @Styles.Render("~/Content/gentelella/vendors/dropzone/dist/min/basic.min.css")
    @Styles.Render("~/Content/gentelella/vendors/dropzone/dist/min/dropzone.min.css")
}
@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
    @Scripts.Render("~/Content/gentelella/vendors/dropzone/dist/min/dropzone.min.js")

    <script>
       

        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 5, // MB
            autoProcessQueue: true,
            parallelUploads: 1,
            success: function (file, response) {
                $(file.previewElement).find('.dz-filename span').text(response);
            }
        };

    </script>


}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Insertation des images des stagiaires </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Dropzone multiple file uploader</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Drag multiple files to the box below for multi upload or click to select files. This is for demonstration purposes only, the files are not uploaded to any server.</p>
                    <form action="@Url.Content("/")Trainees/Upload_Picturs" id="dropzoneForm" class="dropzone"></form>
                </div>
            </div>
        </div>
    </div>
</div>
