<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16">
    <meta charset="utf-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Core")
    @RenderSection("Style", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col ">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Cplus" class="site_title" id="logo">
                            <i class="fa fa-mortar-board"></i> <span title="Compétence plus">C-plus</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    @Html.Partial("gentellela/ui/_MenuProfile")
                    <br />
                    @Html.Partial("gentellela/ui/_SidebarMenu")
                    @Html.Partial("gentellela/ui/_MenuFooter")
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            @if (HttpContext.Current != null)
                            {
                                if (HttpContext.Current.IsDebuggingEnabled)
                                {
                                    <span style="position : absolute">
                                        @TrainingIS.DAL.TrainingISModel.Current_Data_Base_Name
                                    </span>

                                }
                            }
                            <li class="">
                                @Html.Partial("gentellela/navbar_right/_Login")
                            </li>
                            <li>
                                @Html.Partial("gentellela/navbar_right/_TrainingYear")
                            </li>
                            <!-- Notification
                               <li role="presentation" class="dropdown">
                                   <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                       <i class="fa fa-envelope-o"></i>
                                       <span class="badge bg-green">2</span>
                                   </a>
                                   <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                       <li>
                                           <a>
                                               <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                               <span>
                                                   <span>John Smith</span>
                                                   <span class="time">3 mins ago</span>
                                               </span>
                                               <span class="message">
                                                   Film festivals used to be do-or-die moments for movie makers. They were where...
                                               </span>
                                           </a>
                                       </li>
                                       <li>
                                           <a>
                                               <span class="image"><img src="/images/img.jpg" alt="Profile Image" /></span>
                                               <span>
                                                   <span>John Smith</span>
                                                   <span class="time">3 mins ago</span>
                                               </span>
                                               <span class="message">
                                                   Film festivals used to be do-or-die moments for movie makers. They were where...
                                               </span>
                                           </a>
                                       </li>
                                       <li>
                                           <div class="text-center">
                                               <a>
                                                   <strong>See All Alerts</strong>
                                                   <i class="fa fa-angle-right"></i>
                                               </a>
                                           </div>
                                       </li>
                                   </ul>
                               </li>
                            -->

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">


                @if (TempData["Notification2"] != null)
                {
                    <div class="x_panel">

                        <div class="x_title">
                            <h2>Rapport d'importation</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>

                        <div class="@TempData["NotificationCSS"]">
                            @Html.Raw(TempData["Notification2"])
                        </div>
                    </div>
                }


                @Html.Partial("GApp.WebApp.Core/_WebApp")
                @RenderBody()
            </div>
            <!-- /page content -->

            <footer>
                <div class="pull-right">
                    C-plus - Compétence plus
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/Core")
    @RenderSection("scripts", required: false)
    @Html.Partial("_NotificationPanel")
    <script>
        jQuery(document).ready(function () {
            // GAppContext is declared in WebApp.Core
            GAppContext.URL_Root = "@Url.Content("~/")";
        });
    </script>
</body>
</html>
