@model TrainingIS.Entities.ModelsViews.Default_Details_Administrator_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
     ViewBag.Title = ViewBag.msg["Delete_Title"] + " : " +  Model;
}

<div class="x_panel">
    <div class="x_title">
		<h2> @ViewBag.msg["Delete_Title"] : @Model </h2 >
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
<div>
	<table class="details_model">
		<tr>
			<td>@Html.DisplayNameFor(model => model.Photo)</td>
			<td>@(Model.Photo?.ToString())</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.RegistrationNumber)</td>
			<td>@Html.GAppDisplayFor(model => model.RegistrationNumber)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.CreateUserAccount)</td>
			<td>@Html.GAppDisplayFor(model => model.CreateUserAccount)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Login)</td>
			<td>@Html.GAppDisplayFor(model => model.Login)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Password)</td>
			<td>@Html.GAppDisplayFor(model => model.Password)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.FirstName)</td>
			<td>@Html.GAppDisplayFor(model => model.FirstName)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.LastName)</td>
			<td>@Html.GAppDisplayFor(model => model.LastName)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.FirstNameArabe)</td>
			<td>@Html.GAppDisplayFor(model => model.FirstNameArabe)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.LastNameArabe)</td>
			<td>@Html.GAppDisplayFor(model => model.LastNameArabe)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Sex)</td>
			<td>@Html.GAppDisplayFor(model => model.Sex)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Birthdate)</td>
			<td>@Html.GAppDisplayFor(model => model.Birthdate)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Nationality)</td>
			<td>@(Model.Nationality?.ToString())</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.BirthPlace)</td>
			<td>@Html.GAppDisplayFor(model => model.BirthPlace)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.CIN)</td>
			<td>@Html.GAppDisplayFor(model => model.CIN)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Cellphone)</td>
			<td>@Html.GAppDisplayFor(model => model.Cellphone)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Email)</td>
			<td>@Html.GAppDisplayFor(model => model.Email)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Address)</td>
			<td>@Html.GAppDisplayFor(model => model.Address)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.FaceBook)</td>
			<td>@Html.GAppDisplayFor(model => model.FaceBook)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.WebSite)</td>
			<td>@Html.GAppDisplayFor(model => model.WebSite)</td>
		</tr>
 
    </table>
    <dl class="details_model">

    </dl>
</div>
<h3>@msg_app.Are_you_sure_you_want_to_delete</h3>
 <hr />
	</div>
</div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <a href="@Url.Action("Index")" class="btn btn-app">
                <i class="fa fa-close"></i>  @msg_app.Back_to_List
            </a>
            <div style="float:left">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <a href="#" onclick="$(this).closest('form').submit();" class="btn btn-app">
                        <i class="fa fa-trash"></i>  @msg_app.Delete
                    </a> 
                }
            </div>
           
        </div>
    </div>
</div>

