@model TrainingIS.Entities.ModelsViews.Default_CalendarDay_Details_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
	<table class="details_model">
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Date)</td>
			<td>@Html.GAppDisplayFor(model => model.Date)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DateName)</td>
			<td>@Html.GAppDisplayFor(model => model.DateName)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DateNameAbbrev)</td>
			<td>@Html.GAppDisplayFor(model => model.DateNameAbbrev)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DayOfWeek)</td>
			<td>@Html.GAppDisplayFor(model => model.DayOfWeek)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.IsWeekend)</td>
			<td>@Html.GAppDisplayFor(model => model.IsWeekend)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.WeekNumber)</td>
			<td>@Html.GAppDisplayFor(model => model.WeekNumber)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.WeekBeginDate)</td>
			<td>@Html.GAppDisplayFor(model => model.WeekBeginDate)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.WeekEndDate)</td>
			<td>@Html.GAppDisplayFor(model => model.WeekEndDate)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarMonthName)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarMonthName)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarMonthNameAbbrev)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarMonthNameAbbrev)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarMonthBegin)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarMonthBegin)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarMonthEnd)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarMonthEnd)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarMonthNumber)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarMonthNumber)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarYear)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarYear)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.FiscalYear)</td>
			<td>@Html.GAppDisplayFor(model => model.FiscalYear)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DayOfYear)</td>
			<td>@Html.GAppDisplayFor(model => model.DayOfYear)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarYearBegin)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarYearBegin)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.CalendarYearEnd)</td>
			<td>@Html.GAppDisplayFor(model => model.CalendarYearEnd)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.FiscalYearBegin)</td>
			<td>@Html.GAppDisplayFor(model => model.FiscalYearBegin)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.FiscalYearEnd)</td>
			<td>@Html.GAppDisplayFor(model => model.FiscalYearEnd)</td> 
		</tr>
 
    </table>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		@if (ViewBag.HasPermission.ToAction("Edit"))
        {
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
        }
    </div>
</div>  


