@model TrainingIS.Entities.ModelsViews.Default_Details_EntityPropertyShortcut_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
	<table class="details_model">
		<tr>
			<td>@Html.DisplayNameFor(model => model.EntityName)</td>
			<td>@Html.GAppDisplayFor(model => model.EntityName)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.PropertyName)</td>
			<td>@Html.GAppDisplayFor(model => model.PropertyName)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.PropertyShortcutName)</td>
			<td>@Html.GAppDisplayFor(model => model.PropertyShortcutName)</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.Description)</td>
			<td>@Html.GAppDisplayFor(model => model.Description)</td>
		</tr>
 
    </table>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  


