@model TrainingIS.Entities.ModelsViews.Default_Details_Meeting_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
	<table class="details_model">
		<tr> 
			<td>@Html.DisplayNameFor(model => model.MeetingDate)</td>
			<td>@Html.GAppDisplayFor(model => model.MeetingDate)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.WorkGroup)</td>
			<td>@(Model.WorkGroup?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Mission_Working_Group)</td>
			<td>@(Model.Mission_Working_Group?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presence_Of_President)</td>
			<td>@Html.GAppDisplayFor(model => model.Presence_Of_President)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presence_Of_VicePresident)</td>
			<td>@Html.GAppDisplayFor(model => model.Presence_Of_VicePresident)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presence_Of_Protractor)</td>
			<td>@Html.GAppDisplayFor(model => model.Presence_Of_Protractor)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Formers)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Formers)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Administrators)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Administrators)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Trainees)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Trainees)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Guests_Formers)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Guests_Formers)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Guests_Administrators)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Guests_Administrators)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Presences_Of_Guests_Trainees)</td>
			<td>@Html.GAppDisplayFor(model => model.Presences_Of_Guests_Trainees)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Description)</td>
			<td>@Html.GAppDisplayFor(model => model.Description)</td> 
		</tr>
 
    </table>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		@if (ViewBag.HasPermission.ToAction("Edit"))
        {
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
        }
    </div>
</div>  


