@model TrainingIS.Entities.ModelsViews.Default_SanctionCategory_Details_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
	<table class="details_model">
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DisciplineCategory)</td>
			<td>@(Model.DisciplineCategory?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Name)</td>
			<td>@Html.GAppDisplayFor(model => model.Name)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Code)</td>
			<td>@Html.GAppDisplayFor(model => model.Code)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.DecisionAuthority)</td>
			<td>@Html.GAppDisplayFor(model => model.DecisionAuthority)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.WorkflowOrder)</td>
			<td>@Html.GAppDisplayFor(model => model.WorkflowOrder)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Number_Of_Days_Of_Exclusion)</td>
			<td>@Html.GAppDisplayFor(model => model.Number_Of_Days_Of_Exclusion)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Plurality_Of_Absences)</td>
			<td>@Html.GAppDisplayFor(model => model.Plurality_Of_Absences)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Deducted_Points)</td>
			<td>@Html.GAppDisplayFor(model => model.Deducted_Points)</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Description)</td>
			<td>@Html.GAppDisplayFor(model => model.Description)</td> 
		</tr>
 
    </table>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		@if (ViewBag.HasPermission.ToAction("Edit"))
        {
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
        }
    </div>
</div>  


