@model TrainingIS.Entities.ModelsViews.Default_Details_SeancePlanning_Model
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
	<table class="details_model">
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Schedule)</td>
			<td>@(Model.Schedule?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Training)</td>
			<td>@(Model.Training?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.SeanceDay)</td>
			<td>@(Model.SeanceDay?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.SeanceNumber)</td>
			<td>@(Model.SeanceNumber?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Classroom)</td>
			<td>@(Model.Classroom?.ToString())</td> 
		</tr>
		<tr> 
			<td>@Html.DisplayNameFor(model => model.Description)</td>
			<td>@Html.GAppDisplayFor(model => model.Description)</td> 
		</tr>
 
    </table>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  


