@model TrainingIS.Entities.Trainee
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
     ViewBag.Title = ViewBag.msg["Delete_Title"] + " : " +  Model;
}

<div class="x_panel">
    <div class="x_title">
		<h2> @ViewBag.msg["Delete_Title"] : @Model </h2 >
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
<div>
    <dl class="dl-horizontal">
		<dt>
          @Html.DisplayNameFor(model => model.Cellphone)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.Cellphone)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.TutorCellPhone)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.TutorCellPhone)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.Email)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.Address)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.FaceBook)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.WebSite)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.CNE)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.CNE)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.isActif)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.isActif)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.DateRegistration)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.NationalityId)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.NationalityId)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.SchoollevelId)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.SchoollevelId)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.GroupId)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.StateOfAbseces)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.StateOfAbseces)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.FirstName)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.LastName)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FirstNameArabe)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.FirstNameArabe)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.LastNameArabe)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.LastNameArabe)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.Birthdate)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.BirthPlace)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.Sex)        
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd>
	     @Html.GAppDisplayFor(model => model.CIN)        
		</dd>
 
    </dl>
</div>
<h3>@msg_app.Are_you_sure_you_want_to_delete</h3>
 <hr />
	</div>
</div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">
            <a href="@Url.Action("Index")" class="btn btn-app">
                <i class="fa fa-close"></i>  @msg_app.Back_to_List
            </a>
            <div style="float:left">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <a href="#" onclick="$(this).closest('form').submit();" class="btn btn-app">
                        <i class="fa fa-trash"></i>  @msg_app.Delete
                    </a>
                }
            </div>
           
        </div>
    </div>
</div>

