@model IEnumerable<TrainingIS.Entities.ModelsViews.Default_Details_SeanceTraining_Model>
@section Style{
    @Styles.Render("~/Content/Manager/Index")
}
@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
    <script>
        $("#dataTable").DataTable({
            language: dataTable_language_fr,
			"order": [],
			 select: true
        });

		$("#Import_Entities").click(function(){
            var display = $("#import_form").css("display");
            if (display == "none") {
                $("#import_form").show();
            } else {
                $("#import_form").hide();
            }
        });
    </script>
}
@{
    ViewBag.Title = ViewBag.msg["Index_Title"];
}
<div class="x_panel">
    <div class="x_title">
        <h2 id="Index_Page_Title">@ViewBag.msg["Index_Title"]</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @if (ViewBag.HasPermission.ToAction("Create"))
        {
            <a href="@Url.Action("Create")" id="Create_New_Entity" class="btn btn-app">
                <i class="fa fa-plus"></i>  @msg_app.Create_New
            </a>
        }


       


        @if (ViewBag.HasPermission.ToAction("Export"))
        {
            <a href="@Url.Action("Export")" id="Export_All_Entities" class="btn btn-app hidden-xs">
                <i class="fa fa-file-excel-o"></i>  Export
            </a>
        }
        @if (ViewBag.HasPermission.ToAction("Import"))
        {
            <a href="#" class="btn btn-app hidden-xs" id="Import_Entities">
                <i class="fa fa-file-excel-o"></i>  Import
            </a>
            using (Html.BeginForm("Import", "SeanceTrainings", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div id="import_form" class="container" style="display : none">
                    <hr />
                    <div class="row">

                        <div class="col-md-3">
                            <input required class="btn btn-app" type="file" name="import_objects" value="choose file" />
                        </div>

                        <div class="col-md-2">
                            <input class="btn btn-app " type="submit" value="Importer" />
                        </div>


                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="x_panel">
    <div class="x_content">

        <table id="dataTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SeanceDate)
                    </th>
                    <th>
                         Planning
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeancePlanning)
                    </th>
                    <th class="hidden-xs">
                        @Html.DisplayNameFor(model => model.Contained)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr id="@string.Format("{0}_{1}",item.GetType().Name,item.Id)">
                    <td>@Html.GAppDisplayFor(modelItem => item.SeanceDate)</td>
                    <td>@(item?.SeancePlanning?.Schedule.ToString())</td>
                    <td>@(item?.SeancePlanning?.ToString())</td>
                    <td class="hidden-xs">@Html.GAppDisplayFor(modelItem => item.Contained)</td>

                    <td>
                        @if (ViewBag.HasPermission.ToAction("Details"))
                        {
                            <a href="@Url.Action("Details")/@item.Id" class="link_action details " title="@msg_app.Details" data-toggle="tooltip" data-placement="top">
                                <i class="fa fa-info fa-2x"></i>
                            </a>
                        }
                        @if (ViewBag.HasPermission.ToAction("Edit"))
                        {
                            <a href="@Url.Action("Edit")/@item.Id" class="link_action edit" title="@msg_app.Edit" data-toggle="tooltip" data-placement="top">
                                <i class="fa fa-edit fa-2x"></i>
                            </a>
                        }
                        @if (ViewBag.HasPermission.ToAction("Delete"))
                        {
                            <a href="@Url.Action("Delete")/@item.Id" class="link_action delete" title="@msg_app.Delete" data-toggle="tooltip" data-placement="top">
                                <i class="fa fa-trash fa-2x"></i>
                            </a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

