@model TrainingIS.Entities.Statistic
@using TrainingIS.Entities
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}

@foreach (StatisticCategory statisticCategory in Model.Categories)
{
    <div class="x_panel">
        <div class="x_title">
            <h2> @statisticCategory.Name</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-striped table-bordered">
                <thead>

                    <tr>
                        <td>Nom</td>
                        <td>Nombre</td>
                        <td>Valeur</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (StatisticValue statisticValue in statisticCategory.StatisticValues)
                    {
                        <tr>
                            <td>@statisticValue.Name</td>
                            <td>@statisticValue.Number</td>
                            <td>@statisticValue.Value</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}
