@model TrainingIS.WebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Gestion de votre compte utilisateur";
}
@section Style{
    @Styles.Render("~/Content/Manager/Index")
}

@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
    
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <a href="@Url.Action("ChangePassword")" class="btn btn-app">
            <i class="fa fa-key"></i>  Changer votre mot de passe
        </a>
    </div>
</div>

 

<p class="text-success">@ViewBag.StatusMessage</p>

