@model TrainingIS.Entities.Former

@{
     ViewBag.Title = ViewBag.msg["Edit_Title"];  
}

@section Style {
    @Styles.Render("~/Content/Form")
}
@section scripts {
    @Scripts.Render("~/bundles/Form")
}

<div class="x_panel">
    <div class="x_content">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
     
    <div class="form-horizontal">
        <h4>@ViewBag.msg["Edit_Title"] : @Model</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.Sex, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.CIN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.CIN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.CIN, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.Cellphone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Cellphone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.Cellphone, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.Email, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.Address, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.FaceBook, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.FaceBook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.FaceBook, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.WebSite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.WebSite, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.entity.RegistrationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entity.RegistrationNumber, "", new { @class = "text-danger" })
            </div>
        </div>
  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@msg_app.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

	</div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
    </div>
</div>   

