@model TrainingIS.Entities.ModelsViews.Default_TrainingFormView
 
@{
     ViewBag.Title = ViewBag.msg["Edit_Title"];  
}

@section Style {
    @Styles.Render("~/Content/Form")
}
@section scripts {
    @Scripts.Render("~/bundles/Form")
	<script>
		$(document).ready(function () {
		}); 
    </script>
}

<div class="x_panel">
    <div class="x_content">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
      
    <div class="form-horizontal">
        <h4>@ViewBag.msg["Edit_Title"] : @Model</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
         <div class="form-group">  
            @Html.LabelFor(model => model.TrainingYearId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.DropDownList("TrainingYearId", null,"", htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.TrainingYearId, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.ModuleTrainingId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.DropDownList("ModuleTrainingId", null,"", htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ModuleTrainingId, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.FormerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.DropDownList("FormerId", null,"", htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.FormerId, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.DropDownList("GroupId", null,"", htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">  
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
				 @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@msg_app.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

	</div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
    </div>
</div>   

