@model TrainingIS.Entities.ModelsViews.Default_FormerDetailsView
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
     <dl class="details_model">
		<dt>
          @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.FirstName)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.LastName)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Sex)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.CIN)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Cellphone)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Cellphone)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Email)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Address)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.FaceBook)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.WebSite)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.RegistrationNumber)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.toStringValue)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.toStringValue)    
		</dd>
 
    </dl>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  


