@model TrainingIS.Entities.ModelsViews.Default_TrainingYearDetailsView
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
     <dl class="details_model">
		<dt>
          @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Code)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.StartDate)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.EndtDate)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.EndtDate)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.toStringValue)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.toStringValue)    
		</dd>
 
    </dl>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  


