@model TrainingIS.Entities.ModelsViews.Default_TraineeDetailsView
@section Style{
    @Styles.Render("~/Content/Manager/Details")
}
@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div> 
    <div class="x_content">
	 
     <dl class="details_model">
		<dt>
          @Html.DisplayNameFor(model => model.Cellphone)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Cellphone)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.TutorCellPhone)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.TutorCellPhone)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Email)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Address)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.FaceBook)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.WebSite)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.CNE)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.CNE)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.isActif)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.isActif)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.DateRegistration)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd>
		@Model.Nationality.ToString()    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Schoollevel)
        </dt>
        <dd>
		@Model.Schoollevel.ToString()    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
		@Model.Group.ToString()    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.StateOfAbseces)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.StateOfAbseces)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.FirstName)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.LastName)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.FirstNameArabe)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.FirstNameArabe)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.LastNameArabe)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.LastNameArabe)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Birthdate)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.BirthPlace)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.Sex)    
		</dd>
		<dt>
          @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd>
		@Html.GAppDisplayFor(model => model.CIN)    
		</dd>
 
    </dl>
   </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  


