@model TrainingIS.Entities.ModelsViews.Default_Form_Meeting_Model
@using TrainingIS.Entities
@using TrainingIS.BLL
@using TrainingIS.Entities.enums
@using TrainingIS.WebApp.Helpers
@using TrainingIS.Entities.Base
@{
    ViewBag.Title = ViewBag.msg["Edit_Title"];
}

@section Style {
    @Styles.Render("~/Content/Form")
}
@section scripts {
    @Scripts.Render("~/bundles/Form")
    <script>
        $(document).ready(function () {

        });
    </script>
}


<div class="x_panel">

    <div class="x_content">


        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Réunion</a>
                </li>
                <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Décision</a>
                </li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in " id="tab_content1" aria-labelledby="home-tab">
                    @Html.Partial("Edit_Meeting_Form", Model)
                </div>
                <div role="tabpanel" class="tab-pane fade " id="tab_content2" aria-labelledby="profile-tab">
                    @if (ViewBag.isEdit == true)
                    {
                        string Edit_Action = ViewBag.DecisionInfo[MeetingBLO.EDIT_FORM_ACTION].ToString();
                        string Controller = ViewBag.DecisionInfo[MeetingBLO.CONTROLLER].ToString();
                        object Edit_Params = ViewBag.DecisionInfo[MeetingBLO.EDIT_PARAMS];
                        @Html.Action(Edit_Action, Controller, Edit_Params);
                    }
                    else
                    {
                        string Create_Action = ViewBag.DecisionInfo[MeetingBLO.CREAT_FORM_ACTION].ToString();
                        string Controller = ViewBag.DecisionInfo[MeetingBLO.CONTROLLER].ToString();
                        object Create_Params = ViewBag.DecisionInfo[MeetingBLO.CREATE_PARAMS];
                        @Html.Action(Create_Action, Controller, Create_Params);
                    }
                </div>

            </div>
        </div>

    </div>
</div>





<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
    </div>
</div>

