@using TrainingIS.WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<style>
    .field-validation-error {
        position: relative;
        top: -18px;
        float: left;
    }
</style>

<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>Authentification</h1>
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nom d'utilisateur", required = "" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", required = "" })
                    </div>
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mot de passe" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.RememberMe)
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </div>
                    <div>

                        <button type="submit" class="btn btn-default submit">Log in</button>
                        @Html.ActionLink("Vous avez oublié votre mot de passe ?", "ForgotPassword", new { @class = "reset_pass" })
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <p class="change_link">
                            Nouvel utilisateur?
                            @Html.ActionLink("Créer un compte", "Register",null,new { @class = "to_register" })
                        </p>
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1><i class="fa fa-mortar-board"></i> Training IS</h1>
                            <p>©2018 All Rights Reserved. Training IS! </p>
                        </div>
                    </div>
                }
            </section>
        </div>
        <div id="register" class="animate form registration_form">
            <section class="login_content">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
            @Html.AntiForgeryToken()
            <h1>Créer un compte</h1>
            <div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder= "Email", required = "" })
                </div>
                <div>
                     
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "" })
                </div>
                <div>
             
                    <button type="submit" class="btn btn-default submit">Log in</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        Already a member ?
                        <a href="#signin" class="to_register"> Log in </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-mortar-board"></i> Training IS</h1>
                        <p>©2018 All Rights Reserved. Training IS! </p>
                    </div>
                </div>

                }
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}