<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            @{
                // [Bug] - Must Use Cash menu by role

                string Menu_Link(String ControllerCode, string ControllerName)
                {
                    if (ViewBag.HasPermission.ToController(ControllerCode))
                    {
                        string link_format = "<li><a href=\"{0}{1}\"> {2} </a></li>";
                        return string.Format(link_format, @Url.Content("~/"), ControllerCode, ControllerName);
                    }
                    return "";
                }

                bool HasPermission(String[] ControllersCodes)
                {
                    bool permission = false;
                    foreach (var ControllerCode in ControllersCodes)
                    {
                        if (ViewBag.HasPermission.ToController(ControllerCode))
                            permission = true;
                    }
                    return permission;
                }
            }

            @if (HasPermission(new[] { "AuthrorizationApps", "RoleApps", "ControllerApps", "ActionControllerApps" }))
            {
                <li>
                    <a><i class="fa fa-key"></i> Droits d'accès <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("AuthrorizationApps", "Autorisation"))
                        @Html.Raw(@Menu_Link("RoleApps", "Rôles"))
                        @Html.Raw(@Menu_Link("ControllerApps", "Controllers"))
                        @Html.Raw(@Menu_Link("ActionControllerApps", "Actions"))
                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "UsersAdmin" }))
            {
                <li>
                    <a><i class="fa fa-user"></i>  @msg_menu.Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("UsersAdmin", @msg_menu.Users))
                    </ul>
                </li>
            }

            @if (ViewBag.HasPermission.ToController("SeanceTrainings"))
            {
                <li>
                    <a><i class="fa fa-newspaper-o"></i> Cahier de Texte <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Content("~/")SeanceTrainings">@msg_menu.SeanceTrainings</a></li>
                    </ul>
                </li>

            }
            @if (HasPermission(new[] { "SeancePlannings", "Schedules" }))
            {
                <li>
                    <a><i class="fa fa-calendar"></i> @msg_menu.Planning <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("SeancePlannings", @msg_menu.SeancePlannings))
                        @Html.Raw(@Menu_Link("Schedules", "Planning"))
                    </ul>
                </li>

            }


            @if (ViewBag.HasPermission.ToController("Trainees") || ViewBag.HasPermission.ToController("Groups"))
            {
                <li>
                    <a><i class="fa fa-users"></i>  @msg_menu.Trainees <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @if (ViewBag.HasPermission.ToController("Trainees"))
                        {
                            <li><a href="@Url.Content("~/")Trainees">@msg_menu.Trainees</a></li>
                        }
                        @if (ViewBag.HasPermission.ToController("Groups"))
                        {
                            <li><a href="@Url.Content("~/")Groups">@msg_menu.Groups</a></li>
                        }
                    </ul>
                </li>

            }
            @if (ViewBag.HasPermission.ToController("Absences") && ViewBag.HasPermission.ToAction("Absences","Index"))
            {
                <li>
                    <a><i class="fa fa-times"></i>  @msg_menu.Absences <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Content("~/")Absences">@msg_menu.Absences</a></li>
                    </ul>
                </li>

            }
            @if (ViewBag.HasPermission.ToController("Trainings")
                || ViewBag.HasPermission.ToController("TrainingYears")
                || ViewBag.HasPermission.ToController("Specialties"))
            {
                <li>
                    <a><i class="fa fa-graduation-cap"></i> @msg_menu.Trainings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @if (ViewBag.HasPermission.ToController("Trainings"))
                        {
                            <li><a href="@Url.Content("~/")Trainings"> Affectation </a></li>
                        }
                        @if (ViewBag.HasPermission.ToController("TrainingYears"))
                        {
                            <li><a href="@Url.Content("~/")TrainingYears">@msg_menu.TrainingYears</a></li>
                        }
                        @if (ViewBag.HasPermission.ToController("Specialties"))
                        {
                            <li><a href="@Url.Content("~/")Specialties">Filières</a></li>
                        }
                    </ul>
                </li>

            }
            @if (ViewBag.HasPermission.ToController("Formers")
                || ViewBag.HasPermission.ToController("ModuleTrainings")
            )
            {
                <li>
                    <a><i class="fa fa-circle"></i> Ressources <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">

                        <li>
                            <a><i class="fa fa-users"></i> RH <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: block;">
                                @if (ViewBag.HasPermission.ToController("Formers"))
                                {
                                    <li><a href="@Url.Content("~/")Formers">@msg_menu.Formers</a></li>
                                }

                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-graduation-cap"></i>  Pédagogies <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: block;">

                                @if (ViewBag.HasPermission.ToController("ModuleTrainings"))
                                {
                                    <li><a href="@Url.Content("~/")ModuleTrainings">@msg_menu.Modules </a></li>
                                }
                            </ul>
                        </li>

                    </ul>
                </li>

            }
            @if (ViewBag.HasPermission.ToController("Classrooms")
                   || ViewBag.HasPermission.ToController("ClassroomCategories")
                   || ViewBag.HasPermission.ToController("SeanceDays")
                   || ViewBag.HasPermission.ToController("SeanceNumbers")
                   || ViewBag.HasPermission.ToController("YearStudies")
                   || ViewBag.HasPermission.ToController("Schoollevels")
                   || ViewBag.HasPermission.ToController("TrainingTypes")
                   || ViewBag.HasPermission.ToController("Nationalities")
                   || ViewBag.HasPermission.ToController("TrainingLevels")
                   || ViewBag.HasPermission.ToController("Sectors")
                   || ViewBag.HasPermission.ToController("Metiers")
                   || ViewBag.HasPermission.ToController("FormerSpecialties")


               )
            {
                <li>
                    <a><i class="fa fa-cog"></i> @msg_menu.Params <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a><i class="fa fa-institution"></i> @msg_menu.Etablishement <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: block;">
                                @if (ViewBag.HasPermission.ToController("Classrooms"))
                                {
                                    <li><a href="@Url.Content("~/")Classrooms">@msg_menu.Classrooms</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("ClassroomCategories"))
                                {
                                    <li><a href="@Url.Content("~/")ClassroomCategories">@msg_menu.ClassroomCategories</a></li>
                                }


                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-graduation-cap"></i> @msg_menu.Trainings <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: block;">
                                @if (ViewBag.HasPermission.ToController("TrainingTypes"))
                                {
                                    <li><a href="@Url.Content("~/")TrainingTypes">Types de formation</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("SeanceDays"))
                                {
                                    <li><a href="@Url.Content("~/")SeanceDays">@msg_menu.SeanceDays</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("SeanceNumbers"))
                                {
                                    <li><a href="@Url.Content("~/")SeanceNumbers">@msg_menu.SeanceNumbers</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("YearStudies"))
                                {
                                    <li><a href="@Url.Content("~/")YearStudies">@msg_menu.YearStudies</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("Schoollevels"))
                                {
                                    <li><a href="@Url.Content("~/")Schoollevels">@msg_menu.Schoollevels</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("TrainingLevels"))
                                {
                                    <li><a href="@Url.Content("~/")TrainingLevels">Niveaux de formation</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("Sectors"))
                                {
                                    <li><a href="@Url.Content("~/")Sectors">Secteurs</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("Metiers"))
                                {
                                    <li><a href="@Url.Content("~/")Metiers">Métiers</a></li>
                                }
                                @if (ViewBag.HasPermission.ToController("FormerSpecialties"))
                                {
                                    <li><a href="@Url.Content("~/")FormerSpecialties">Spécialités des formateurs</a></li>
                                }
                                


                            </ul>
                        </li>
                        <li>
                            <a><i class="fa fa-cog"></i> Autres <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: block;">
                                @if (ViewBag.HasPermission.ToController("Nationalities"))
                                {
                                    <li><a href="@Url.Content("~/")Nationalities">Nationalités</a></li>
                                }
                            </ul>
                        </li>

                    </ul>
                </li>
            }


            @if (HasPermission(new[] { "BackupData", "EntityPropertyShortcuts" }))
            {
                <li>
                    <a><i class="fa fa-database"></i>  DataBase <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("BackupData", "Sauvegarde de la base de données"))
                        @Html.Raw(@Menu_Link("EntityPropertyShortcuts", @msg_menu.PropertyShortcuts))
                    </ul>
                </li>

            }
        </ul>
    </div>
</div>
