<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            @{
                // [Bug] - Must Use Cash menu by role

                string Menu_Link(String ControllerCode, string ControllerName)
                {
                    if (ViewBag.HasPermission.ToController(ControllerCode))
                    {
                        string link_format = "<li><a href=\"{0}{1}\"> {2} </a></li>";
                        return string.Format(link_format, @Url.Content("~/"), ControllerCode, ControllerName);
                    }
                    return "";
                }

                string Menu_Link_URL(String ControllerCode, String ActionName, string Name, string url)
                {
                    if (ViewBag.HasPermission.ToAction(ControllerCode, ActionName))
                    {
                        string link_format = "<li><a href=\"{0}{1}\"> {2} </a></li>";
                        return string.Format(link_format, @Url.Content("~/"), url, Name);
                    }
                    return "";
                }

                bool HasPermission(String[] ControllersCodes)
                {
                    bool permission = false;
                    foreach (var ControllerCode in ControllersCodes)
                    {
                        if (ViewBag.HasPermission.ToController(ControllerCode))
                            permission = true;
                    }
                    return permission;
                }
            }

            @if (HasPermission(new[] { "AuthrorizationApps", "RoleApps", "ControllerApps", "ActionControllerApps" }))
            {
                <li>
                    <a><i class="fa fa-key"></i> Droits d'accès <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("AuthrorizationApps", "Autorisation"))
                        @Html.Raw(@Menu_Link("RoleApps", "Rôles"))
                        @Html.Raw(@Menu_Link("ControllerApps", "Controllers"))
                        @Html.Raw(@Menu_Link("ActionControllerApps", "Actions"))
                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "UsersAdmin" }))
            {
                <li>
                    <a><i class="fa fa-user"></i>  @msg_menu.Admin <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("UsersAdmin", @msg_menu.Users))
                    </ul>
                </li>
            }

            @if (HasPermission(new[] { "WorkGroupsController" }))
            {
                <li>
                    <a>
                        <i class="fa fa-group"></i>
                        Conseils et comités

                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("Meetings", "Réunions"))
                        @Html.Raw(@Menu_Link("Mission_Working_Groups", "Missions"))
                        @Html.Raw(@Menu_Link("WorkGroups", "Conseils et comités"))
                    </ul>
                </li>

            }

            @if (ViewBag.HasPermission.ToController("SeanceTrainings"))
            {
                <li>
                    <a><i class="fa fa-newspaper-o"></i> Cahier de Texte <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="@Url.Content("~/")SeanceTrainings">@msg_menu.SeanceTrainings</a></li>
                    </ul>
                </li>

            }
            @if (HasPermission(new[] { "SeancePlannings", "Schedules" }))
            {
                <li>
                    <a><i class="fa fa-calendar"></i> @msg_menu.Planning <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("SeancePlannings", @msg_menu.SeancePlannings))
                        @Html.Raw(@Menu_Link("Schedules", "Planning"))
                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "Trainees", "Groups" }))
            {
                <li>
                    <a><i class="fa fa-users"></i>  @msg_menu.Trainees <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("Trainees", @msg_menu.Trainees))
                        @Html.Raw(@Menu_Link("Groups", @msg_menu.Groups))
                    </ul>
                </li>

            }
            @if (ViewBag.HasPermission.ToController("Category_JustificationAbsence")
                || ViewBag.HasPermission.ToController("JustificationAbsences")
                || ViewBag.HasPermission.ToController("StatisticAbsence")
                || (ViewBag.HasPermission.ToController("Absences") && ViewBag.HasPermission.ToAction("Absences", "Index")))
            {
                <li>
                    <a><i class="fa fa-times"></i>  @msg_menu.Absences <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @if (ViewBag.HasPermission.ToAction("Absences", "Index"))
                        {
                            @Html.Raw(@Menu_Link("Absences", @msg_menu.Absences))

                            // Entry Absence by Group
                            string Create_Group_Absences_url = string.Format("Absences/Create_Group_Absences/?AbsenceDate={0}", DateTime.Now.ToString());
                            @Html.Raw(@Menu_Link_URL("Absences", "Create_Group_Absences", "Saisie d'absences", Create_Group_Absences_url))
                        }
 
                        @Html.Raw(@Menu_Link("StatisticAbsence", "Statistique"))
                        @Html.Raw(@Menu_Link("JustificationAbsences", "Justification"))
                        @Html.Raw(@Menu_Link("WarningTrainees", "Avertissemnts"))
                        @Html.Raw(@Menu_Link("SanctionCategories", "Motifs de sanctions"))
                        @Html.Raw(@Menu_Link("Category_JustificationAbsences", "Catégories des justifications"))
                    </ul>
                </li>

            }

            @if ( ViewBag.HasPermission.ToController("Sanctions")
                || ViewBag.HasPermission.ToController("SanctionCategories")
                  || ViewBag.HasPermission.ToController("DisciplineCategories")
            )
            {
                <li>
                    <a><i class="fa fa-stethoscope"></i> Sanctions <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("Sanctions", "Sanctions"))
                        @Html.Raw(@Menu_Link("SanctionCategories", "Catégories des sanctions"))
                        @Html.Raw(@Menu_Link("DisciplineCategories", "Catégories des disciplines"))
                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "Trainings", "TrainingYears", "Specialties" }))
            {
                <li>
                    <a><i class="fa fa-graduation-cap"></i> @msg_menu.Trainings <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("Trainings", "Affectation"))
                        @Html.Raw(@Menu_Link("TrainingYears", @msg_menu.TrainingYears))
                        @Html.Raw(@Menu_Link("Specialties", "Filières"))
                    </ul>
                </li>

            }
            @if (HasPermission(new[] { "Formers", "ModuleTrainings" }))
            {
                <li>
                    <a><i class="fa fa-circle"></i> Ressources <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">

                        @if (HasPermission(new[] { "Formers", "Administrators" }))
                        {
                            <li>
                                <a><i class="fa fa-users"></i> RH <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">
                                    @Html.Raw(@Menu_Link("Formers", @msg_menu.Formers))
                                    @Html.Raw(@Menu_Link("Administrators", "Administrateurs"))
                                    @Html.Raw(@Menu_Link("Functions", "Function"))

                                </ul>
                            </li>

                        }
                        @if (HasPermission(new[] { "ModuleTrainings" }))
                        {
                            <li>
                                <a><i class="fa fa-graduation-cap"></i>  Pédagogies <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">
                                    @Html.Raw(@Menu_Link("ModuleTrainings", @msg_menu.Modules))
                                </ul>
                            </li>
                        }


                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "Projects", "TaskProjects" }))
            {
                <li>
                    <a><i class="fa fa-tasks"></i>  Gestion des projets <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("Projects", "Projets"))
                        @Html.Raw(@Menu_Link("TaskProjects", "Tâches"))
                    </ul>
                </li>

            }

            @if (HasPermission(new[] { "Classrooms" , "ClassroomCategories" , "SeanceDays" , "SeanceNumbers" ,
                "YearStudies" , "Schoollevels" , "TrainingTypes" ,
                "Nationalities" , "TrainingLevels" , "Sectors" ,
                "Metiers" , "FormerSpecialties" }))

            {
                <li>
                    <a><i class="fa fa-cog"></i> @msg_menu.Params <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @if (HasPermission(new[] { "Classrooms", "ClassroomCategories" }))
                        {
                            <li>
                                <a><i class="fa fa-institution"></i> @msg_menu.Etablishement <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">
                                    @Html.Raw(@Menu_Link("Classrooms", @msg_menu.Classrooms))
                                    @Html.Raw(@Menu_Link("ClassroomCategories", @msg_menu.ClassroomCategories))
                                </ul>
                            </li>

                        }

                        @if (HasPermission(new[] {  "SeanceDays" , "SeanceNumbers" ,
                                                                        "YearStudies" , "Schoollevels" , "TrainingTypes"
                                                                         , "TrainingLevels" , "Sectors" ,
                                                                        "Metiers" , "FormerSpecialties" }))
                        {
                            <li>
                                <a><i class="fa fa-graduation-cap"></i> @msg_menu.Trainings <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">

                                    @Html.Raw(@Menu_Link("TrainingTypes", "Types de formation"))
                                    @Html.Raw(@Menu_Link("SeanceDays", @msg_menu.SeanceDays))
                                    @Html.Raw(@Menu_Link("SeanceNumbers", @msg_menu.SeanceNumbers))
                                    @Html.Raw(@Menu_Link("YearStudies", @msg_menu.YearStudies))
                                    @Html.Raw(@Menu_Link("Schoollevels", @msg_menu.Schoollevels))
                                    @Html.Raw(@Menu_Link("TrainingLevels", "Niveaux de formation"))
                                    @Html.Raw(@Menu_Link("Sectors", "Secteurs"))
                                    @Html.Raw(@Menu_Link("Metiers", "Métiers"))
                                    @Html.Raw(@Menu_Link("FormerSpecialties", "Spécialités des formateurs"))
                                    @Html.Raw(@Menu_Link("Classrooms", @msg_menu.Classrooms))
                                    @Html.Raw(@Menu_Link("Classrooms", @msg_menu.Classrooms))
                                </ul>
                            </li>
                        }

                        @if (HasPermission(new[] { "Nationalities" }))
                        {
                            <li>
                                <a><i class="fa fa-cog"></i> Autres <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu" style="display: block;">
                                    @Html.Raw(@Menu_Link("Nationalities", "Nationalités"))
                                </ul>
                            </li>
                        }


                    </ul>
                </li>
            }


            @if (HasPermission(new[] { "BackupData", "EntityPropertyShortcuts" }))
            {
                <li>
                    <a><i class="fa fa-database"></i>  DataBase <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        @Html.Raw(@Menu_Link("BackupData", "Sauvegarde de la base de données"))
                        @Html.Raw(@Menu_Link("EntityPropertyShortcuts", @msg_menu.PropertyShortcuts))
                    </ul>
                </li>

            }

        </ul>
    </div>
</div>
