@model TrainingIS.Models.WorkGroups.Form_WorkGroup_Model
@using TrainingIS.Entities
@using TrainingIS.Entities.enums
@using TrainingIS.WebApp.Helpers
@using TrainingIS.Entities.Base
@{
    Layout = null;
}

@Html.AntiForgeryToken()

<div class="form-horizontal">
  
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="Row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Désignation</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Président</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.President_FormerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("President_FormerId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.President_FormerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.President_TraineeId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("President_TraineeId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.President_TraineeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.President_AdministratorId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("President_AdministratorId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.President_AdministratorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Vice-président</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.VicePresident_FormerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("VicePresident_FormerId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VicePresident_FormerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VicePresident_TraineeId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("VicePresident_TraineeId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VicePresident_TraineeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VicePresident_AdministratorId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("VicePresident_AdministratorId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VicePresident_AdministratorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Rapporteur</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Protractor_FormerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("Protractor_FormerId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Protractor_FormerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Protractor_AdministratorId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("Protractor_AdministratorId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Protractor_AdministratorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Protractor_TraineeId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("Protractor_TraineeId", null, "", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Protractor_TraineeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Members</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Selected_MemebersFormers, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Select_Tag(model => model.Selected_MemebersFormers, ViewBag.Data_Selected_MemebersFormers as List<BaseEntity>, true);
                            @Html.ValidationMessageFor(model => model.Selected_MemebersFormers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Selected_MemebersAdministrators, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Select_Tag(model => model.Selected_MemebersAdministrators, ViewBag.Data_Selected_MemebersAdministrators as List<BaseEntity>, true);
                            @Html.ValidationMessageFor(model => model.Selected_MemebersAdministrators, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Selected_MemebersTrainees, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Select_Tag(model => model.Selected_MemebersTrainees, ViewBag.Data_Selected_MemebersTrainees as List<BaseEntity>, true);
                            @Html.ValidationMessageFor(model => model.Selected_MemebersTrainees, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Invités</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.GuestFormers, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.GuestFormers, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuestFormers, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GuestTrainees, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.GuestTrainees, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuestTrainees, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GuestAdministrator, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.GuestAdministrator, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GuestAdministrator, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Missions</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Selected_Mission_Working_Groups, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Select_Tag(model => model.Selected_Mission_Working_Groups, ViewBag.Data_Selected_Mission_Working_Groups as List<BaseEntity>, true);
                            @Html.ValidationMessageFor(model => model.Selected_Mission_Working_Groups, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@msg_app.Save" class="btn btn-default" />
        </div>
    </div>
</div>