 
@model IEnumerable<TrainingIS.Entities.ModelsViews.Default_ActionControllerAppDetailsView>
@section Style{
    @Styles.Render("~/Content/Manager/Index")
}
@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
    <script>
        $("#dataTable").DataTable({
            language: dataTable_language_fr,
			 select: true
        });

		$("#bt_import").click(function(){
            var display = $("#import_form").css("display");
            if (display == "none") {
                $("#import_form").show();
            } else {
                $("#import_form").hide();
            }
        });
    </script>
}
@{
    ViewBag.Title = ViewBag.msg["Index_Title"];
}
<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.msg["Index_Title"]</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
		@if (ViewBag.HasPermission.ToAction("Create")){
			<a href="@Url.Action("Create")" class="btn btn-app">
					<i class="fa fa-plus"></i>  @msg_app.Create_New
			</a>
		}
		@if (ViewBag.HasPermission.ToAction("Export")){
			<a href="@Url.Action("Export")" class="btn btn-app">
				<i class="fa fa-file-excel-o"></i>  Export
			</a>
		}
		@if (ViewBag.HasPermission.ToAction("Import")){
			<a href="#" class="btn btn-app" id="bt_import">
					<i class="fa fa-file-excel-o"></i>  Import
			</a>
			using (Html.BeginForm("Import", "ActionControllerApps", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<div id="import_form" class="container" style="display : none">
					<hr />
					<div class="row">
					 
						<div class="col-md-3">
							<input required class="btn btn-app" type="file" name="import_objects" value="choose file" />
						</div> 

						<div class="col-md-2">
							<input class="btn btn-app " type="submit" value="Importer" />
						</div>


					</div>
				</div>
			}
		}
    </div>
</div>

 <div class="x_panel">
    <div class="x_content">

<table id="dataTable" class="table table-striped table-bordered">
<thead> 
    <tr> 
		   <th> 
		   @Html.DisplayNameFor(model => model.Code)
       </th> 
	   <th> 
		   @Html.DisplayNameFor(model => model.Name)
       </th> 
	   <th> 
		   @Html.DisplayNameFor(model => model.Description)
       </th> 
	   <th> 
		   @Html.DisplayNameFor(model => model.ControllerApp)
       </th> 
	   <th> 
		   @Html.DisplayNameFor(model => model.AuthrorizationApps)
       </th> 
	   <th> 
		   @Html.DisplayNameFor(model => model.toStringValue)
       </th> 
  
        <th></th>
    </tr>
</thead> 
 <tbody>
  
@foreach (var item in Model) { 
     <tr> 
         <td>@Html.GAppDisplayFor(modelItem => item.Code)</td>
         <td>@Html.GAppDisplayFor(modelItem => item.Name)</td>
         <td>@Html.GAppDisplayFor(modelItem => item.Description)</td>
         <td>@item.ControllerApp.ToString()</td>
         <td>@Html.GAppDisplayFor(modelItem => item.AuthrorizationApps)</td>
         <td>@Html.GAppDisplayFor(modelItem => item.toStringValue)</td>
  
         <td>
		    @if (ViewBag.HasPermission.ToAction("Details")){
				<a href="@Url.Action("Details")/@item.Id" class="link_action" title="@msg_app.Details" data-toggle="tooltip" data-placement="top">
					 <i class="fa fa-info fa-2x"></i>
				</a>
			}
			@if (ViewBag.HasPermission.ToAction("Edit")){
				<a href="@Url.Action("Edit")/@item.Id" class="link_action" title="@msg_app.Edit" data-toggle="tooltip" data-placement="top">
						 <i class="fa fa-edit fa-2x"></i>
				</a>
			}
			@if (ViewBag.HasPermission.ToAction("Delete")){
				<a href="@Url.Action("Delete")/@item.Id" class="link_action" title="@msg_app.Delete" data-toggle="tooltip" data-placement="top">
						 <i class="fa fa-trash fa-2x"></i>
				</a>
			}
         </td>
     </tr>
}
 </tbody>
</table>
	</div>
</div>

