<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Login")
</head>
<body class="login">

    @RenderBody()


    @Scripts.Render("~/bundles/Login")
    @RenderSection("scripts", required: false)
    @Html.Partial("_NotificationPanel")
</body>
</html>
