@model TrainingIS.Models.Absences.Create_Group_Absences_Model
@using TrainingIS.Entities
@section Style{
    @Styles.Render("~/Content/Manager/Index")
    @Styles.Render("~/Content/Form")
}
@section scripts{
    @Scripts.Render("~/bundles/Manager/Index")
    @Scripts.Render("~/bundles/Form")
    <script>
        $("#dataTable").DataTable({
            language: dataTable_language_fr,
            "order": [],
            select: true
        });
    </script>

    <script>

        function Create_Absence(TraineeId, SeancePlanningId) {
            var trainee_line = $('#Trainee_' + TraineeId);
            $('#Trainee_' + TraineeId + ' .present_icon').prop('disabled', true);
            $('#Trainee_' + TraineeId + ' .present_icon').css('display', "none");
            trainee_line.load("/Absences/Create_Absence", { TraineeId: TraineeId, SeancePlanningId: SeancePlanningId });
        }
        function Delete_Absence(TraineeId, SeancePlanningId) {
            var trainee_line = $('#Trainee_' + TraineeId);
            trainee_line.prop('disabled', true);
            trainee_line.load("/Absences/Delete_Absence", { TraineeId: TraineeId, SeancePlanningId: SeancePlanningId });
        }

        // 
        // Load Trainees
        //
        function Group_Changed(SeancePlanningId) {
            var url = "/Absences/Get_Absences_Forms?SeancePlanningId=" + SeancePlanningId;
           // alert(url);
            $('#Absences_Trainees').load(url);
        }


        function Bind_Select(select_id, data_bind) {

            var select_id_selector = "#" + select_id;

            var onChangeFunction = function () {

                var slected_option = $(select_id_selector).find(":selected");
                var seance_planing_id = slected_option.data(data_bind)

                var lisg_option = $("select option").not(slected_option).filter(function () {
                    return ($(this).data(data_bind) == seance_planing_id)
                })
                for (var i = 0; i < lisg_option.length; i++) {
                   // alert(lisg_option[i].value);
                   // lisg_option.select = "selected";
                   // alert("#" + lisg_option[i].parentNode.id);
       
                    $("#" + lisg_option[i].parentNode.id).val(lisg_option[i].value);
                    // we use init_select2 insteand of .trigger('change') for because 
                    // it generate overstackflow
                    Init_Select2();

                    
                }
                Group_Changed(seance_planing_id);
            };

            // selected = 'selected'

            $(select_id_selector).change(onChangeFunction);
        }

        $(document).ready(function () {

            Bind_Select("ClassroomId", "seanceplanningid");
            Bind_Select("GroupId", "seanceplanningid");
            Bind_Select("FormerId", "seanceplanningid");
            Bind_Select("ModuleTrainingId", "seanceplanningid");


            function Load_URL() {
                var AbsenceDate = $("#AbsenceDate").val();
                var Seance_Number_Reference = $("#SeanceNumberId :selected").text();
             

                var url = new URL(window.location.href);
                url.searchParams.set('AbsenceDate', AbsenceDate);
                url.searchParams.set('Seance_Number_Reference', Seance_Number_Reference);
              //  alert(url.href);
                window.location.href = url.href;
            }

            $('#AbsenceDate').on('dp.change', function (e) {
                Load_URL();
            });

            $('#SeanceNumberId').change(function () {
               // alert("change SeanceNumberId");
                Load_URL();
            });

        });
    </script>
}
<div class="x_panel">
    <div class="x_title">
        <h2 id="Index_Page_Title">@ViewBag.msg["Create_Group_Title"]</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
    </div>
</div>

<div class="x_panel">
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.AbsenceDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.AbsenceDate, new { @class = "form-control has-feedback-left datetimepicker" })
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ScheduleCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="form-control" disabled >@Model.ScheduleCode</label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SeanceNumberId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SeanceNumberId", null, "", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClassroomId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="ClassroomId" name="ClassroomId">
                        <option value=""></option>
                        @foreach (SeancePlanning seancePlanning in Model.SeancePlannings)
                        {
                        <option value="@seancePlanning.Classroom.Id" data-seanceplanningid="@seancePlanning.Id"> @seancePlanning.Classroom.Code </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="GroupId" name="GroupId">
                        <option value=""></option>
                        @foreach (SeancePlanning seancePlanning in Model.SeancePlannings)
                        {
                            <option value="@seancePlanning.Training.Group.Id" data-seanceplanningid="@seancePlanning.Id"> @seancePlanning.Training.Group.Code </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FormerId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="FormerId" name="FormerId">
                        <option value=""></option>
                        @foreach (SeancePlanning seancePlanning in Model.SeancePlannings)
                        {
                            <option value="@seancePlanning.Training.Former.Id" data-seanceplanningid="@seancePlanning.Id"> @seancePlanning.Training.Former.ToString() </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModuleTrainingId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" id="ModuleTrainingId" name="ModuleTrainingId">
                        <option value=""></option>
                        @foreach (SeancePlanning seancePlanning in Model.SeancePlannings)
                        {
                            <option value="@seancePlanning.Training.ModuleTraining.Id" data-seanceplanningid="@seancePlanning.Id"> @seancePlanning.Training.ModuleTraining.ToString() </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="x_panel">
    <div class="x_content" id="Absences_Trainees">
    </div>
</div>

