@model TrainingIS.Entities.Nationality

@section Style{
    @Styles.Render("~/Content/Manager/Details")
}


@{
    ViewBag.Title =   @msg_app.Details;
}

<div class="x_panel">
    <div class="x_title">
        <h2> @Model.ToString()</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">


     <dl class="details_model">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
		 @Html.DisplayFor(model => model.Code)        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
		 @Html.DisplayFor(model => model.Name)        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
		 @Html.DisplayFor(model => model.Description)        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
		 @Html.DisplayFor(model => model.CreateDate)        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
		 @Html.DisplayFor(model => model.UpdateDate)        </dd>

    </dl>
   </div>
</div>
 


<div class="x_panel">
    <div class="x_content">
        <a href="@Url.Action("Index")" class="btn btn-app">
            <i class="fa fa-close"></i>  @msg_app.Back_to_List
        </a>
		<a href="@Url.Action("Edit")/@Model.Id" class="btn btn-app">
            <i class="fa fa-edit"></i>  @msg_app.Edit
        </a>
    </div>
</div>  

 
